BOT_TOKEN=8706112826:AAH_fSow83cu_DvvSDHXkVJwwI5gIHVphEw
ADMIN_CHAT_ID=6448909987
WEBAPP_URL=https://your-vercel-app.vercel.app
ADMIN_WEBAPP_URL=https://your-vercel-app.vercel.app/admin
ADMIN_PASSWORD=digipro_admin123
DB_FILE=enterprise_bot.db
